<div class="mega-products-grid-mob">
  {% for menu_item in shop.metaobjects.product_guide_mega_menu.values limit: 2 %}
    <div class="product-item-mob2">
      <a href="{{ menu_item.system.url }}">
        {% if menu_item.img %}
          <img
            class="gimg"
            src="{{ menu_item.img | file_url }}"
            alt="Mega menu image {{ forloop.index }}"
            loading="lazy">
        {% endif %}
      </a>
    </div>
  {% endfor %}
</div>
