.custom-swiper-container {
  width: 100%;
  height: 85vh;
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
}

.custom-slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

/* #main_prod_slide {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
} */
#main_prod_slide {
  background-size: cover !important;
  background-position: center -15vh !important;
  background-repeat: no-repeat !important;
}

.custom-controls {
  position: absolute;
  bottom: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: self-end;
  gap: 1.2500em;
  z-index: 9;
}

.swiper-button-prev3,
.swiper-button-next3 {
  cursor: pointer;
  z-index: 10;
  width: 0.6250em;
  height: 0.6250em;
  color: #007aff00;
  height: 3.1250em;
  width: auto;
  margin: 1em;
}

.swiper-button-next3>svg,
.swiper-button-prev3>svg {
  width: 0.7500em;
  height: auto;
  mix-blend-mode: difference;
  padding: 3%;
}