  .my-reviews-slider-container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    background-color: #f3efeb;
  }

  .review-slide-content {
    text-align: center;
    padding: 2rem;
    background-color: #ffffff00;

  }

  .swiper-slide.swiper-slide-active {
    background-color: #00ffff00;
  }

  .swiper-slide {
    background: #ffffff00 !important;
  }

  .metafield-rich_text_field>p {
    font-family: "SurveyorText Book Light Pro" !important;
    font-size: 2em;
    padding: 16px 20%;
    line-height: 1.2em;
  }

  .swiper-button-lock {
    display: block;
  }

  .review-author {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-family: "Gotham Narrow Book" !important;
  }


  .review-link {
    color: #000;
    text-decoration: underline;
    font-weight: 600;
  }

  /* Swiper arrows color */
  .swiper-button-next2,
  .swiper-button-prev2 {
    color: #000;
    /* Adjust as needed */
  }

  .review-slide-content {
    text-align: center;
    padding: 2rem;
    background-color: #ffffff00;
    display: flex;
    flex-direction: column;
  }

  #next_pre_reviews2 {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 30px;
    justify-content: space-between;
    position: absolute;
    bottom: 50%;
    z-index: 99;
    cursor: pointer;
    padding: 0 3em;
    ;
  }

  .review-image {
    width: 30vw;
    height: auto;
  }

  .my-review-slider-container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    background-color: #f3efeb;
    justify-items: center;
  }

  .review-slide-content {
    text-align: center;
    padding: 2rem;
    background-color: #ffffff00;
  }

  .swiper-slide.swiper-slide-active {
    background-color: #00ffff00;
  }

  .swiper-slide {
    background: #ffffff00 !important;
  }

  .review-quote {
    font-size: 2em;
    font-style: italic;
    margin-bottom: 0.5rem;
    line-height: 1.3;
    font-family: 'SurveyorText Book Light Pro';
  }

  .swiper-button-lock {
    display: block;
  }

  .review-author {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }

  .review-link {
    color: #000;
    text-decoration: underline;
    font-weight: 600;
  }

  /* Swiper arrows color */
  .swiper-button-next2,
  .swiper-button-prev2 {
    color: #000;
    /* Adjust as needed */
  }

  .review-slide-content {
    text-align: center;
    padding: 2rem;
    background-color: #ffffff00;
    display: flex;
    flex-direction: column;
  }

  #next_pre {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 30px;
    justify-content: space-between;
    position: absolute;
    bottom: 50%;
    z-index: 99;
    cursor: pointer;
  }